{
  "presets": ["es2015"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-strip-types",

    ["babel-plugin-transform-react-jsx", {
      "pragma": "createElement",
    }],
 
    ["babel-plugin-jsx-pragmatic", {
      "module": "lazy-dom",
      "import": "createElement",
      "export": "createElement"
    }]
  ]
}
